#textdomain wesnoth-Autumn_Kingdoms_Prologue

[unit_type]
	id=Partisan Wanderer
	name= _ "Partisan Wanderer"
	race=human
	gender=female
	image="data/add-ons/Autumn_Kingdoms_Prologue/images/units/guerrilla/partisan-wanderer.png"
	
	hitpoints=43
	movement_type=elusivefoot
	movement=6
	experience=40
	level=2
	alignment=neutral
	advances_to=Partisan Wayfarer
	cost=24
	usage=scout
	description= _ "..."+{SPECIAL_NOTES_AMBUSH}+{SPECIAL_NOTES_SKIRMISHER}

	die_sound={SOUND_LIST:HUMAN_DIE}

	[abilities]
		{ABILITY_AMBUSH}
		{ABILITY_SKIRMISHER}
	[/abilities]

	[movement_costs]
		forest=1
		hills=1
		swamp=1
	[/movement_costs]

	[attack]
		name=quarterstaff
		description= _ "quarterstaff"
		icon=attacks/quarterstaff.png
		type=impact
		range=melee
		damage=6
		number=4
	[/attack]
[/unit_type]
