#textdomain wesnoth-Autumn_Kingdoms_Prologue

[unit_type]
	id=Silver Spear Commander
	name= _ "Silver Spear Commander"
	race=human
	gender=male,female
	image="data/add-ons/Autumn_Kingdoms_Prologue/images/units/vermaeliss/silver-spear-commander.png"
	
	hitpoints=64
	movement_type=smallfoot
	movement=5
	experience=100
	level=4
	alignment=neutral
	cost=70
	usage=fighter
	description= _ "..."

	[abilities]
		{ABILITY_LEADERSHIP_LEVEL_4}
	[/abilities]

	{AMLA_DEFAULT}

	die_sound={SOUND_LIST:HUMAN_DIE}

	[resistance]
		blade=80
		impact=90
		pierce=80
	[/resistance]

	[attack]
		name=short sword
		description= _ "short sword"
		icon=attacks/sword-human-short.png
		type=blade
		range=melee
		damage=10
		number=3
	[/attack]

	[attack]
		name=spear
		description= _ "spear"
		icon=attacks/spear.png
		type=pierce
		[specials]
			{WEAPON_SPECIAL_FIRSTSTRIKE}
		[/specials]
		range=melee
		damage=16
		number=3
	[/attack]

[/unit_type]
